

.people-container{
    display: flex;
    border-bottom:1px solid gray ;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.main-button{

    background-color:yellow;
    width:100px;
    height:40px;
    border:1px solid black;
    border-radius: 5px;
    cursor:pointer;
}